* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
  }
  .login_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    height: 100vh;
    background-image: url("../../assets/image//background-home-img.svg");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
  }
  .login_page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 66vh;
    padding: 50px;
    background-color: #f9f9f9;
  }
  
  /* Styling for the login form container */
  .login_form_container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login_form_container h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .login_form_container p {
    color: #777;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .create_account_link {
    color: #f97316;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
  }
  
  .login_form label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
  }
  
  .login_form input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
  }
  
  .password_container {
    display: flex;
    align-items: center;
  }
  
  .password_container input {
    flex-grow: 1;
  }
  
  .show_password {
    margin-left: -30px;
    cursor: pointer;
    color: #ff8401;
  }
  
  .forgot-password {
    text-align: right;
  }
  
  .forgot-password a {
    color: #f97316;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .login_btn {
    background-color: #526cf0;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login_btn:hover {
    background-color: #f97316;
  }
  .abt_login {
    color: #ff9933;
    
  }
  
  /* Styling for the information section on the right */
  .about {
    color: #f97316;
  }
  .info__networks {
    width: 50%;
    padding-left: 50px;
  }
  
  .info__networks h1 {
    color: #4f466f;
  
    margin-bottom: 20px;
  }
  
  .info__networks p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .how_btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f97316;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .how_btn :hover {
    background-color: #f86d38;
  }
  
  /* Responsive design */
  @media (max-width: 968px) {
    .login_page {
      flex-direction: column;
      padding: 20px;
      height: auto;
    }
  
    .login_form_container {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .info__networks {
      width: 100%;
      padding-left: 0;
      text-align: center;
      display: none;
    }
  }