.container {
  width: 85%;
  margin: 0 auto;
  font-family: cursive; /*font family stayl */
  background-color: #f9f9f9;
  padding: 10px;
}

/* Steps to write a question */
.heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  margin-left: 70px;
  font-family: "Comic Neue", cursive;
}

.divider {
  border-color: #fe8082;
  width: 22%;
  margin: 0;
  margin-left: 70px;
}

.questionSteps {
  padding-left: 20px;
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 90px;
  font-family: "Comic Neue", cursive;
}

.questionSteps li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.icon {
  margin-right: 10px;
}

/* Form styling */
.subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;
}

.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

.form input[type="text"]::placeholder,
.form textarea::placeholder {
  color: #999;
}

.form textarea {
  height: 130px;
  resize: none;
}


.buttonContainer {
  display: flex;
  gap: 80px; /* Space between buttons */
}
.sButton,
.backButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
}

.sButton:hover {
  background-color: #0056b3;
}
.backButton:hover {
  background-color: #0056b3;
}

/* Response message styling */
.responseMessage {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  color: green;
}
