* {
    margin: 0;
    padding: 0;
  }
  .footer_container {
    background-color: #343a40; /* Dark background color */
    padding: 40px 0; /* Padding for spacing */
    color: #ffffff; /* White text color */
    display: flex;
    justify-content: center;
    bottom: 0;
  }
  
  .links_wrapper {
    width: 80%; /* Center the content and control width */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Responsive layout */
  }
  
  /* Logo and social links styling */
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
  }
  
  .footer_logo {
    width: 150px; /* Adjust logo size */
    margin-bottom: 20px; /* Space below the logo */
  }
  
  .socialMedia_links {
    display: flex;
    gap: 12px;

  }
  
  .socialMedia_links a {
    color: #ffffff; /* White icons */
    font-size: 20px; /* Icon size */
  }
  
  .socialMedia_links a:hover {
    color: #f5c12e; /* Hover color effect for icons */
  }
  
  /* Useful links styling */
  .footer_links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
  }
  .footer_links ul li {
    list-style-type: none;
    padding-left: 0;
  }
  
  .useful_links li:first-child,
  .contact li.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .useful_links li,
  .contact li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .useful_links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .useful_links a:hover {
    color: #f5c12e;
    text-decoration: underline;
  }
  
  /* Contact info styling */
  .contact li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Responsive behavior */
  @media (max-width: 768px) {
    .links_wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .logo_container {
      align-items: center;
      margin-bottom: 20px;
    }
  
    .footer_links {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .useful_links li,
    .contact li {
      margin-bottom: 5px;
    }
  }