.answer_container {
    list-style: none;
    padding: 0;
    margin: 0 70px;
  }
  
  .answer_wrapper h3 {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 27px;
    opacity: 0.7;
  }
  
  .answer_wrapper hr {
    width: 100%;
    color: rgb(244, 241, 241);
    opacity: 0.4;
  }
  
  .user_answer_container {
    display: flex;
    flex-direction: column;
  }
  
  .answer_container ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
  }
  .answer_container li p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  /* If you want to show username with SVG in a flex row */
  .answer_container li small {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    gap: 10px;
  }
  
  /* .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    text-align: left;
  /* } */
  /* .flex p {
    text-align: left !important;
    align-items: flex-start;
  } */
  .user {
    padding-left: 7px;
  }
  
  .user_answer_container svg {
    font-size: 40px;
    color: #0056b3;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .answer_container li {
      flex-direction: column;
      text-align: left;
    }
  }